body {
  background-color: #E24D37;
  }

.marion {
  background-image: url("../img/marion.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: right;
}

.card {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.float-left {
  float: left;
}

.clear-float {
  clear: both;
}

.btn {
  color: #E24D37;
  outline-color: #E24D37;
  stroke: #E24D37;
}

.btn:hover{
  background-color: #E24D37;
}

.btn-outline-success {
  outline-color: #E24D37;
  stroke: #E24D37;
}
